# General files and directories
node_modules/
.DS_Store
*.log
*.env
*.temp
tmp/
*.pid
*.seed
coverage/
.vscode/
.idea/
.nyc_output/

# Docker-related
docker-compose.override.yml
docker-compose.local.yml
*.dockerignore
*.swp
.docker/


ollama/models
# Angular-specific
src/environments/environment.ts
src/environments/environment.*.ts
.angular/
.angular/cache/
.angular-cli.json

# IDE/editor specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

/ui_old/*